In [9]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [2]:
outside = ['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [3]:
inside = [1,2,3,1,2,3]

In [4]:
hier_index = list(zip(outside, inside))

In [5]:
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [6]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [7]:
hier_index

MultiIndex(levels=[[u'G1', u'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [10]:
df = pd.DataFrame(randn(6, 2), hier_index, ['A', 'B'])

In [11]:
df

             A         B
G1 1 -1.265657  0.261181
   2  0.333804  0.382464
   3  0.043790  0.027081
G2 1  0.882379  1.064292
   2  0.638698 -2.017044
   3 -0.455202 -1.637275

In [16]:
df.loc['G1'].loc[1]

A   -1.265657
B    0.261181
Name: 1, dtype: float64

In [17]:
df

             A         B
G1 1 -1.265657  0.261181
   2  0.333804  0.382464
   3  0.043790  0.027081
G2 1  0.882379  1.064292
   2  0.638698 -2.017044
   3 -0.455202 -1.637275

In [18]:
df.index.names

FrozenList([None, None])

In [19]:
df.index.names = ['Groups', 'Num']

In [20]:
df

                   A         B
Groups Num
G1     1   -1.265657  0.261181
       2    0.333804  0.382464
       3    0.043790  0.027081
G2     1    0.882379  1.064292
       2    0.638698 -2.017044
       3   -0.455202 -1.637275

In [24]:
df.loc['G2'].loc[2]['B']

-2.017044216963943

In [25]:
df.xs

<bound method DataFrame.xs of                    A         B
Groups Num
G1     1   -1.265657  0.261181
       2    0.333804  0.382464
       3    0.043790  0.027081
G2     1    0.882379  1.064292
       2    0.638698 -2.017044
       3   -0.455202 -1.637275>

In [26]:
df.xs('G1')

            A         B
Num
1   -1.265657  0.261181
2    0.333804  0.382464
3    0.043790  0.027081

In [27]:
#cross sectional method
df.xs(1, level='Num')

               A         B
Groups
G1     -1.265657  0.261181
G2      0.882379  1.064292