In [1]:
import numpy as np
import pandas as pd

In [2]:
d = {'A': [1,2,np.nan], 'B': [5,np.nan,np.nan], 'C':[2,3,4]}

In [3]:
df = pd.DataFrame(d)

In [4]:
df

     A    B  C
0  1.0  5.0  2
1  2.0  NaN  3
2  NaN  NaN  4

In [5]:
#Drop Missing Value
df.dropna() # Row

     A    B  C
0  1.0  5.0  2

In [6]:
df

     A    B  C
0  1.0  5.0  2
1  2.0  NaN  3
2  NaN  NaN  4

In [7]:
df.dropna(axis=1) #column

   C
0  2
1  3
2  4

In [8]:
df.dropna(thresh=2)#atlest two nan value

     A    B  C
0  1.0  5.0  2
1  2.0  NaN  3

In [9]:
df

     A    B  C
0  1.0  5.0  2
1  2.0  NaN  3
2  NaN  NaN  4

In [10]:
#filling
df.fillna(value='FILL VALUE')

            A           B  C
0           1           5  2
1           2  FILL VALUE  3
2  FILL VALUE  FILL VALUE  4

In [11]:
df['A'].fillna(value=df['A'].mean())

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64